**__pycache__**
**.egg-info**
**runs**
**test**
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.log

ckpt/
llava/model/multimodal_encoder/MoGe/*
data_prepare/*
wandb/

*.png
*.jpeg
*.gif
*.bmp
*.tiff
*.webp
*.heic

*.jpg
*.ipynb
*.json